<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div class="main_div">


        <div class="read_users">
            <a class="read_link" href="/read">Read Users</a>
        </div>

        <h1 id="create_h1">Create Users</h1>

       
        <div class="form">

            <form action="/create" method="post">

                <input type="text" name="name" placeholder="name">
                <input type="email" name="email" placeholder="email">
                <input type="text" name="image" placeholder="image url">
                <input class="submit" type="submit" value="Create Users">
    
            </form>

        </div>
       
         
    </div>
</body>
</html>